* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 2rem;
}



.square {
    border: 1px solid black;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 5rem;
    background-color: white;
    transition: background-color 0.3s ease;
}

.square:hover {
    background-color: lightgrey;
    cursor: pointer;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    aspect-ratio: 1/1;
    max-height: 70vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.5rem;
}

input {
    font-size: 1rem;
}

.player-names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.title {
    font-size: 3rem;
    margin: 1rem;
    width: 100%;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}

button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 10px;
    border-radius: 1rem;
}

.messages {
    transition: opacity 1s ease-out;
    opacity: 1;
    margin-bottom: 2rem;
}

.hidden {
    opacity: 0;
}

