.square {
    border: 1px solid black;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
    border: 1px solid black;
}